<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>The New Frontier In Reservoir Forecasting</h1>
        <p class="lead" style="text-align:center">We are extremely excited to introduce the next generation of unconventional reserves forecasting tool that integrates Technology, Science, and Engineering into one. We have named this industry-leading tool the</p>
        <p class="lead" style="text-align:center;color:#ed4426; font-size: 45px; font-weight: bold">SCIENCE-BASED FORECASTER</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3Yc5bjuA6i8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->


</section>
