<!-- Team -->
 <section class="bg-light" id="team">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading text-uppercase">Our Amazing Team</h2>

       </div>
     </div>
     <div class="row">
       <div class="col-sm-4">
         <div class="team-member">
           <img class="mx-auto rounded-circle" src="img/team/1.jpg" alt="">
           <h4>Craig Reeves, P.E</h4>
           <p class="text-muted">Vice President of Business Development
             {% capture text-capture %}
             Craig Reeves joined USI in 2018 as the Vice President of Business Development and has played a key role in expanding our capabilities into the unconventional markets.  Craig is responsible for the leadership and growth of USIs strategic customer relationships with a focus on new business development.
   Craig is a 24-year veteran of the energy industry and brings a diverse background of executive leadership in areas of business development, sales, program management, operations management and engineering.
   Craig served honorably in The United States Air Force.
   Craig holds a B.S. degree in Electrical Engineering, University of Michigan and an MBA from the University of Michigan – Stephen Ross School of Business.  Craig is a registered Professional Engineer in the State of Michigan.
            {% endcapture %}

          {% include widgets/toggle-field.html toggle-name="craig" button-text="Bio" toggle-text=text-capture  footer="cheers!" %}</p>
           <ul class="list-inline social-buttons">
             <li class="list-inline-item">

             </li>
           </ul>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="team-member">
           <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
           <h4>Devon Fanfair</h4>
           <p class="text-muted">Vice President of Strategy
             {% capture text-capture %}
             Devon Fanfair graduated with a Bachelor of Science degree in Mechanical Engineering from Rice University in 2008. While working as an engineer, Fanfair knew there was more he could do with his unique way of problem solving and gift for human connection. He shifted into corporate Human Resources, and continued to engineer solutions and ways to care for the people with whom he worked and did life with. In 2017, he made the leap of a lifetime and leveraged his ability to problem-solve, create and innovate with empathy as an entrepreneur.
             He co-founded multiple companies in Technology, serving in many different capacities.
            {% endcapture %}

          {% include widgets/toggle-field.html toggle-name="devon" button-text="Bio" toggle-text=text-capture  footer="cheers!" %}</p>
           <ul class="list-inline social-buttons">
             <li class="list-inline-item">
             </li>
             <li class="list-inline-item">

             </li>
           </ul>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="team-member">
           <img class="mx-auto rounded-circle" src="img/team/3.jpg" alt="">
           <h4>Duc Lam, P.E</h4>
           <p class="text-muted">Technical Director
             {% capture text-capture %}
             Duc joined USI Tech. in 2018 as Technical Director after gaining more than ten years of industry experience in reservoir engineering working for Apache Corp and Hess Corp. He began his early career with Apache’s engineering development program, and later joined Apache’s Corporate Reservoir Engineering group where he worked Corporate Reserves and Business Development focusing on Anadarko Basin, Permian Basin and Canada. He also held various positions of increasing responsibilities in Hess’s New Venture and Business Development across China, Williston Basin, Canada and Permian Basin. He holds a BSc with Honors in Petroleum Engineering from Texas A&M University and is a licensed professional engineer in the State of Texas.
             {% endcapture %}

             {% include widgets/toggle-field.html toggle-name="duc" button-text="Bio" toggle-text=text-capture  footer="cheers!" %}
           </p>
           <ul class="list-inline social-buttons">
             <li class="list-inline-item">
             <li class="list-inline-item">

             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-8 mx-auto text-center">
       </div>
     </div>
   </div>
 </section>
