<!DOCTYPE html>
<html lang="en">

  {% include head.html %}





<body>
  <script src="/bower_components/ideal-image-slider/ideal-image-slider.js"></script>

  {% include navigation.html %}

  {% include slider.html selector="example_slider" %}

  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  {% include callout.html %}
  {% include portfolio.html %}
  {% include team.html %}
  {% include contact.html %}
  {% include map.html%}
  {% include footer.html %}
  {% include scripts.html %}





  <script>
	var slider = new IdealImageSlider.Slider('#slider');
	slider.start();
	</script>
  {% include slider_scripts.html %}


</body>

</html>
